/* AboutPage.css */

.card {
    width: 100%;
    max-width: 600px; 
    margin: 20px auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
  .card-header {
    background-color: #007bff; 
    color: white; 
    text-align: center; 
    padding: 10px; 
  }
  
  .card-body {
    padding: 20px; 
  }
  
  .card-title {
    font-size: 1.5rem; 
    margin-bottom: 10px; 
  }
  
  .card-text {
    line-height: 1.6; 
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 8px; 
  }
  /* external CSS file (e.g., styles.css) */

  .card-with-background {
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .card-with-background:hover {
    transform: scale(1.05); /* Adjust the scale factor as needed */
  }
  

  .card-body {
    color: rgb(206, 29, 37); 
  }
  
  
 
  