/* Home.css */

.jumbotron {
  background-color: #f8f9fa; /* Set the background color as per your design */
  padding: 60px 15px; /* Adjust the padding to your liking */
}

.landing-page-container {
  margin-top: 20px; /* Add margin for better spacing */
}

.left-section img {
  max-width: 100%; /* Ensure the image within the left section doesn't exceed its container */
}

.right-section {
  text-align: left; /* Align text in the right section to the left */
}

.welcome-image {
  width: 100%; /* Ensure the image within the right section takes full width */
  border-radius: 50px; /* Add border-radius for a rounded corner effect, adjust as needed */
}
